<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

<header th:replace="view/Cabecera :: cabecera"></header>
<legend class="text-center header">DATOS DE LOS CLIENTES</legend>
<table ng-table="tableclipParams" class="table table-striped">
    <tr ng-repeat="user in $data">
        <td title="'ID CLIENTE'" filter="{ idPersona : 'number' }" sortable="'idCliente'">
            <a ng-href="#/mantenimientoCliente">
                {{user.idCliente}}
            </a>
        </td>       
        <td title="'RUC'" filter="{ ruc : 'number' }" sortable="'ruc'">
            {{user.ruc}}
        </td>
        <td title="'RAZON SOCIAL'" filter="{ razonSocial : 'text'}">
            {{user.razonSocial}}
        </td>
        <td title="'DIRECCION'" filter="{ direccion : 'text'}">
            {{user.direccion}}
        </td>
        <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
      </tr>
</table>

<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>