<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

<header th:replace="view/Cabecera :: cabecera"></header>

	<div class="container">

		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>TELEFONO</th>
						<th>CIUDAD</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="cl : ${cli}">
						<td th:text="${cl.primernombre}"></td>
						<td th:text="${cl.primerapellido}"></td>
						<td th:text="${cl.telefono}"></td>
						<td th:text="${cl.direccion}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>