<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

<header th:replace="view/Cabecera :: cabecera"></header>
	<div class="container">

		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>CODIGO PERSONA</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>TELEFONO</th>
						<th>CIUDAD</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="con : ${cont}">
						<td><a href="#" th:href="@{/control/personaform?idpersona=__${con.idpersona}__}"
							th:text="${con.idpersona}"> </a></td>
						<td th:text="${con.primernombre}"></td>
						<td th:text="${con.primerapellido}"></td>
						<td th:text="${con.telefono}"></td>
						<td th:text="${con.direccion}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>