<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                    <h1 align="center">LISTA DE PERSONAS SIN CARGO</h1>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>TIPO PERSONA</th>
                                    <th>APELLIDOS Y NOMBRES</th>
                                    <th>DIRECCION</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="per : ${persona}">
                                    <td th:text="${per.tipoPersona}"></td>
                                    <td th:text="${per.nombreCompleto}"></td>
                                    <td th:text="${per.direccion}"></td>
                                    <td><a th:href="@{/persona/personaform?idpersona=__${per.idPersona}__}"
                                           class="btn btn-labeled btn-warning">
                                            <span class="btn-label"></span>Modificar
                                        </a>
                                        <a  th:onclick="borrar([[${per.idPersona}]] )"
                                           class="btn btn-labeled btn-danger">
                                            <span class="btn-label"></span>Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" th:href="@{/persona/personaform?idpersona=0}">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            NUEVA PERSONA
                        </button>
                    </a>
                    <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
        
    </body>

</html>