<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">


<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<h1>LISTA DE PERSONAS SIN CARGO</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>CODIGO PERSONA</th>
						<th>APELLIDOS Y NOMBRES</th>
						<th>TELEFONO</th>
						<th>DIRECCION</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="per : ${persona}">
						<td th:text="${per.idpersona}"></td>
						<td th:text="${per.nombrecompleto}"></td>
						<td th:text="${per.telefono}"></td>
						<td th:text="${per.direccion}"></td>
						<td><a href="#"
							th:href="@{/control/personaform?idpersona=__${per.idpersona}__}">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
						</a><a href="#"
							th:href="@{/persona/borrarpersona?id=__${per.idpersona}__}">
								<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
						</a></td>

					</tr>
				</tbody>
			</table>
		</div>
		<a href="#" th:href="@{/control/personaform?idpersona=0}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				NUEVA PERSONA
			</button>
		</a>
			<br>
	</div>
	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>