<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

		<header th:replace="view/Cabecera :: cabecera"></header>
			<button type="button" class="btn btn-primary btn-lg btn-block">Nueva
				Tabla</button>
			<div class="input-group mb-3 center-block">
				<select class="custom-select col-sm-6 " id="inputGroupSelect03">
					<option th:each="tm : ${valMa}" th:value="${tm}" th:text="${tm}">
					</option>
				</select>
			</div>
	
	<footer th:replace="view/Cabecera :: footer"></footer>
</body>
</html>
