<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">


<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<h1>LISTA TRABAJADORES</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>CODIGO PERSONA</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>TELEFONO</th>
						<th>DIRECCION</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="tra : ${traba}">
						<td><a href="#"
							th:href="@{/control/personaform?idpersona=__${tra.idpersona}__}"
							th:text="${tra.idpersona}"> </a></td>
						<td th:text="${tra.primernombre}+' '+${tra.segundonombre}"></td>
						<td th:text="${tra.primerapellido}+' '+${tra.segundoapellido}"></td>
						<td th:text="${tra.telefono}"></td>
						<td th:text="${tra.direccion}"></td>

					</tr>
				</tbody>
			</table>
		</div>
		<a href="#" th:href="@{/trabajador/trabajadorform?id=0}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				NUEVO TRABAJADOR
			</button>
		</a>
			<br>
	</div>

	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>