<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

	<header th:replace="view/Cabecera :: cabecera"></header>
	<div class="container">

		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>CODIGO PERSONA</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>TELEFONO</th>
						<th>CIUDAD</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="tra : ${traba}">
						<td><a href="#" th:href="@{/reporte/}"
							th:text="${tra.idpersona}"> </a></td>
						<td th:text="${tra.primernombre}"></td>
						<td th:text="${tra.primerapellido}"></td>
						<td th:text="${tra.telefono}"></td>
						<td th:text="${tra.direccion}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>