<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

	<header th:replace="view/Cabecera :: cabecera"></header>
	<div class="container">

		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>CODIGO PERSONA</th>
						<th>Licencia</th>
						<th>categoria</th>
						<th>situacion</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="tra : ${transport}">
						<td><a href="#" th:href="@{/reporte/}"
							th:text="${tra.persona.idpersona}"> </a></td>
						<td th:text="${tra.nrolicencia}"></td>
						<td th:text="${tra.catlicencia}"></td>
						<td th:text="${tra.idsituaciontransportista}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>
