<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
		<div class="container">
			<h1>FORMULARIO CLIENTE</h1>
			<br />
			<form action="#" th:action="@{/cliente/addcliente}"  th:object="${cliente}" method="post" >
			<input type="hidden" th:field="*{idcliente}"/>  
			    RAZON SOCIAL :	
				<input type="text" class="form-control" th:field="*{razonsocial}"/>
				 <br/>
				 RUC :
				<input type="text" class="form-control" th:field="*{ruc}"/> 
				<br/> 
				TELEFONO :
				<input type="text" class="form-control" th:field="*{telefono}"/> 
				<br/>
				DIRECCION FISCAL :
		    	<input type="text" class="form-control" th:field="*{direccionfiscal}"/>   
		    	<br/>
				CORREO :
		    	<input type="text" class="form-control" th:field="*{correo}"/>   
		    	<br/>
		    	<br/>   		    	
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					ACEPTAR
				</button>	
				<br>
		</form>
		</div>
        <div class="footer">
            <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
        </div>

</body>
</html>