<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>



	<div class="jumbotron">
		<div class="container">
		<header th:replace="view/Cabecera :: cabecera"></header>
			<h1>FORMULARIO CLIENTE</h1>
			<br />
			<form action="#" th:action="@{/cliente/addcliente}"  th:object="${cliente}" method="post" >
			<input type="hidden" th:field="*{idcliente}"/>  
			    RAZON SOCIAL :	
				<input type="text" class="form-control" th:field="*{razonsocial}"/>
				 <br/>
				 RUC :
				<input type="text" class="form-control" th:field="*{ruc}"/> 
				<br/> 
				TELEFONO :
				<input type="text" class="form-control" th:field="*{telefono}"/> 
				<br/>
				DIRECCION FISCAL :
		    	<input type="text" class="form-control" th:field="*{direccionfiscal}"/>   
		    	<br/>
				CORREO :
		    	<input type="text" class="form-control" th:field="*{correo}"/>   
		    	<br/>
		    	<br/>   		    	
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					ACEPTAR
				</button>	
			
		</form>
		</div>
	</div>

<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>