<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

	<header th:replace="view/Cabecera :: cabecera"></header>
	<div class="container">

	<h1>CODIGO DE COTIZACION:  <a th:text="${cotizaid}"></a></h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>ITEM</th>
						<th>CANTIDAD</th>
						<th>CCOSTOS</th>
						<th>CODRECURSO</th>
						<th>DESCRIPCION</th>
						<th>DESCUENTO</th>
						<th>UNIDAD DE MEDIDA</th>
						<th>PRECIO UNITARIO</th>
						<th>TOTAL DETALLE</th>						
						<th></th>
					</tr>
				</thead>
				<tbody>							
					<tr th:each="cotdet : ${cotizadeta}">						
						<td th:text="${cotdet.item}"></td>
						<td th:text="${cotdet.cantidad}"></td>
						<td th:text="${cotdet.ccostos}"></td>
						<td th:text="${cotdet.codrecurso}"></td>
						<td th:text="${cotdet.descripcion}"></td>
						<td th:text="${cotdet.descuento}"></td>	
						<td th:text="${cotdet.idunidadmedida}"></td>	
						<td th:text="${cotdet.preciounitario} "></td>		
						<td th:text="${cotdet.totaldetalle}"></td>							 
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>