<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                        <form action="#" th:action="@{/cotizacion/addcotizacion}"
                              th:object="${cotizacion}" method="post">
                            <input type="hidden" th:field="*{idCotizacion}" />
                            <div class="panel panel-default">
                                <div class="panel-heading"><h1>Detalles de Cotizacion</h1></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div th:if="${resu==1}">
                                            <div class="col-xs-3">
                                                ESTADO : <input type="text" class="form-control"
                                                                th:field="*{aprobado}" /> <br />
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            SOLICITUD : <select th:field="*{solicitud.idSolicitud}"
                                                                     class="form-control" id="inputGroupSelect03">
                                                    <option th:each="sol : ${solici}" th:value="${sol.idSolicitud}"
                                                            th:text="${sol.idSolicitud}+'. '+${sol.requerimiento}"></option>
                                                </select>
                                        </div>
                                        <div class="col-xs-3">
                                            FECHA ENVIO : <input placeholder="dd/mm/aaaa" type="text"
                                                                 class="form-control" id="fechaen" th:field="*{fechaEnvio}" /> <br />
                                        </div>
                                        <div class="col-xs-3">
                                            MONEDA : <br /> <select th:field="*{idMoneda}"
                                                                    class="form-control" id="inputGroupSelect03">
                                                <option th:each="mon : ${moneda}" th:value="${mon.clave1}"
                                                        th:text="${mon.valor1}"></option>
                                            </select> <br />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            <input class="btn btn-lg btn-primary btn-block" type="submit"
                                   value="Aceptar" /> 
                        </form>

                    <div th:include="fragments/footer.html"></div>
            </div>
        </div>
        </div>
    </body>

</html>