<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

	<div class="jumbotron">
		<div class="container">
	<header th:replace="view/Cabecera :: cabecera"></header>
			<h1>FORMULARIO COTIZACION</h1>
			<br />
			<form action="#" th:action="@{/documentacion/addcotizaciondetalle}"  th:object="${cotizaciondetalle}" method="post" >
			<input type="hidden" th:field="*{item}"/>
				CCOSTOS :
				 <br>
				<input  type="text" class="form-control" th:field="*{ccostos}"/>
				 <br/>
				RECURSO :
				 <br>
				<input  type="text" class="form-control" th:field="*{codrecurso}"/>
				 <br/>
				DESCRIPCION :		
				<br>
				<input  type="text" class="form-control" th:field="*{desccripcion}"/>
				 <br/>
				 CANTIDAD :
				 <br>
				<input  type="text" class="form-control" th:field="*{cantidad}"/>
				 <br/>
				DESCUENTO :	
				<input  type="text" class="form-control" th:field="*{descuento}"/>
				 <br/> 
				 
				 UNIDAD DE MEDIDA :	
				<input  type="text" class="form-control" th:field="*{idunidadmedida}"/>
				 <br/> 
			    PRECIO UNITARIO :	
				<input placeholder="dd/mm/aaaa" type="text" class="form-control" th:field="*{preciounitario}"/>
				
		    	<br/>   
		    	TOTAL DETALLE :	
				<input placeholder="dd/mm/aaaa" type="text" class="form-control" th:field="*{totaldetalle}"/>
				
		    	<br/>		    	
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Aceptar
				</button>	
			
		</form>
		</div>
	</div>
	<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>