<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<h1>FORMULARIO COTIZACION</h1>
		<br />
		<form action="#" th:action="@{/cotizacion/addcotizaciondetalle}"
			th:object="${cotizadeta}" method="post">
			<input type="hidden" th:field="*{item}" />
			<input type="text" th:field="*{cotizacion}" />
			<div class="panel panel-default">
				<div class="panel-heading">Detalles de Cotizacion</div>
				<a th:text="${cotizacion}"></a>
				<div class="panel-body">
					<div class="row">

						<div class="col-xs-3">
							RECURSO : <br> <input type="text" class="form-control"
								th:field="*{codrecurso}" /> <br />
						</div>
						<div class="col-xs-3">
							CANTIDAD : <br> <input type="number" class="form-control"
								th:field="*{cantidad}" /> <br />
						</div>
						<div class="col-xs-3">
							UNIDAD DE MEDIDA : <br /> <select th:field="*{idunidadmedida}"
								class="form-control" id="inputGroupSelect03">
								<option th:each="med : ${medida}" th:value="${med.clave1}"
									th:text="${med.clave1}+'. '+${med.valor1}"></option>
							</select><br />
						</div>
						<div class="col-xs-2">
							CCOSTOS : <br> <input type="text" class="form-control"
								id="ccostos" th:field="*{ccostos}" /> <br />
						</div>
						<div class="col-xs-2">
							DESCUENTO : <input type="text" class="form-control"
								id="descuento" th:field="*{descuento}" /> <br />
						</div>
						<div class="col-xs-2">
							PRECIO UNITARIO : <input type="text" class="form-control"
								id="preunit" th:field="*{preciounitario}" /> <br />
						</div>
						<div class="col-xs-2">
							TOTAL DETALLE : <input type="text" class="form-control"
								id="totdeta" th:field="*{totaldetalle}" /> <br />
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">DESCRIPCION :</div>
				<div class="panel-body">
					<textarea class="form-control" th:field="*{descripcion}"> </textarea>
					<br />
				</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Aceptar
			</button>
			<br>
		</form>
	</div>
	<script type="text/javascript">
		$('#ccostos,#descuento,#preunit,#totdeta').priceFormat({
			prefix : '',
			centsSeparator : '.',
			thousandsSeparator : ''
		});
	</script>

	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>