<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                    <h1>FORMULARIO ORDEN DE COMPRA</h1>
                    <br />
                    <form action="#" th:object="${ordencompra}"
                          th:action="@{/ordencompra/addordencompra}" method="post">
                        <input type="hidden" th:field="*{idOrdenCompra}" />
                        <div class="panel panel-default">
                            <div class="panel-heading">Detalles Orden de Compra</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div th:if="${resu==1}">
                                        <div class="col-xs-3">
                                            ESTADO : <input type="text" class="form-control"
                                                            th:field="*{estadoOrdenCompra}" /> <br />
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        Cotizacion : <select
                                            th:field="*{cotizacion.idCotizacion}" class="form-control"
                                            id="inputGroupSelect03">
                                            <option th:each="cot : ${cotizacion}"
                                                    th:value="${cot.idCotizacion}" th:text="${cot.idCotizacion}"></option>
                                        </select> 
                                    </div>
                                    <div class="col-xs-3">
                                        FECHA ENVIO : <input placeholder="dd/mm/aaaa" type="date"
                                                             class="form-control" id="fechaen" th:field="*{fechaEnvio}" />
                                        <br />
                                    </div>
                                    <div class="col-xs-3">
                                        MONEDA : <br /> <select th:field="*{idMoneda}"
                                                                class="form-control" id="inputGroupSelect03">
                                            <option th:each="mon : ${moneda}" th:value="${mon.clave1}"
                                                    th:text="${mon.valor1}"></option>
                                        </select> <br />
                                    </div>
                                    <div class="col-xs-4">
                                        CARGOS : <input type="text" class="form-control" id="cargos"
                                                        th:field="*{cargos}" /> <br />
                                    </div>
                                    <div class="col-xs-4">
                                        DESCUENTOS : <input type="text" class="form-control"
                                                            id="descuentos" th:field="*{descuentos}" /> <br />
                                    </div>
                                    <div class="col-xs-4">
                                        PERSEPCION : <input type="text" class="form-control"
                                                            id="persepcion" th:field="*{percepcion}" /> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Detalles Orden de Compra</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        IGV : <input type="text" class="form-control" id="igv"
                                                     th:field="*{igv}" /> <br />
                                    </div>
                                    <div class="col-xs-3">
                                        NETO : <input type="text" class="form-control" id="neto"
                                                      th:field="*{neto}" /> <br />
                                    </div>
                                    <div class="col-xs-3">
                                        SUB-TOTAL : <input type="text" class="form-control"
                                                           id="subtotal" th:field="*{subTotal}" /> <br />
                                    </div>
                                    <div class="col-xs-3">
                                        TOTAL : <input type="text" class="form-control" id="total"
                                                       th:field="*{total}" /> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">OBSERVACIONES :</div>
                            <div class="panel-body">
                                <textarea class="form-control" th:field="*{observaciones}"> </textarea>

                                <br />
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Aceptar
                        </button>
                    </form>
                    <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </body>

</html>