<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>

<header th:replace="view/Cabecera :: cabecera"></header>

	<div class="jumbotron">
		<div class="container">
			<h1>FORMULARIO PERSONA</h1>
			<br />
			<form action="#" th:action="@{/persona/addpersona}"  th:object="${persona}" method="post">  
			<input type="hidden" th:field="*{idpersona}"/> 
			    Nombre :	
				<input type="text" class="form-control" th:field="*{primernombre}"/>
				 <br/>
				 Apellido :
				<input type="text" class="form-control" th:field="*{primerapellido}"/> 
				<br/> 
				Tipo documento :	
				 <br>
		    	<select th:field="*{codtipodocumento}" class="custom-select col-sm-6 " id="inputGroupSelect03">									
				       <option th:each="tipdoc : ${tipodoc}"
				               th:value="${tipdoc.clave1}"
				               th:text="${tipdoc.clave1}+'. '+${tipdoc.valor1}">
				       </option>
				</select>
		    	<br/>
		    	<br/>
				 Numero documento :	
				<input type="text" class="form-control" th:field="*{numerodocumento}"/>
				 <br/>
				Telefono :
				<input type="text" class="form-control" th:field="*{telefono}"/> 
				<br/>
				Ciudad :
		    	<input type="text" class="form-control" th:field="*{direccion}"/>   
		    	<br/>
		    	
				<div th:if="${resu==1}">
				TIPO PERSONA : 
				<br>
		    	<select th:field="*{tipopersona}" class="custom-select col-sm-6 " id="inputGroupSelect03">									
				       <option th:each="tipper : ${tipopersona}"
				               th:value="${tipper.clave1}"
				               th:text="${tipper.clave1}+'. '+${tipper.valor1}">
				       </option>
				</select>
		    	<br/>
		    	<br/></div>
		    	Correo electronico :
		    	<input type="email" class="form-control" th:field="*{correoelectronico}"/>   
		    	<br/>
		    	fecha nacimiento :
		    	<input type="text" class="form-control" th:field="*{fechanacimiento}" value="15/05/2018"/>   
		    	<br/>
		    	<br/>   		    	
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					ACEPTAR
				</button>				
				<br>		
				<br/> 
		</form>
		</div>
	</div>

<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>