<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Cabecera :: head"></head>

<body>


	<div class="jumbotron">
		<div class="container">
<header th:replace="view/Cabecera :: cabecera"></header>
			<h1>FORMULARIO PERSONA</h1>
			<br />
			<form action="#" th:action="@{/persona/addpersona}"  th:object="${persona}" method="post">  
			<input type="hidden" th:field="*{idpersona}"/> 
			    Nombre :	
				<input type="text" class="form-control" th:field="*{primernombre}"/>
				 <br/>
				 Apellido :
				<input type="text" class="form-control" th:field="*{primerapellido}"/> 
				<br/> 
				Tipo documento :	
				 <br>
		    	<select th:field="*{codtipodocumento}" class="custom-select col-sm-6 " id="inputGroupSelect03">									
				       <option th:each="tipdoc : ${tipodoc}"
				               th:value="${tipdoc.clave1}"
				               th:text="${tipdoc.clave1}+'. '+${tipdoc.valor1}">
				       </option>
				</select>
		    	<br/>
		    	<br/>
				 Numero documento :	
				<input type="text" class="form-control" th:field="*{numerodocumento}"/>
				 <br/>
				Telefono :
				<input type="text" class="form-control" th:field="*{telefono}"/> 
				<br/>
				Ciudad :
		    	<input type="text" class="form-control" th:field="*{direccion}"/>   
		    	<br/>
		    	
				<div th:if="${resu==1}">
				TIPO PERSONA : 
				<br>
		    	<select th:field="*{tipopersona}" class="custom-select col-sm-6 " id="inputGroupSelect03">									
				       <option th:each="tipper : ${tipopersona}"
				               th:value="${tipper.clave1}"
				               th:text="${tipper.clave1}+'. '+${tipper.valor1}">
				       </option>
				</select>
		    	<br/>
		    	<br/></div>
		    	Correo electronico :
		    	<input type="email" class="form-control" th:field="*{correoelectronico}"/>   
		    	<br/>
		    	fecha nacimiento :
				    <div class="control-group form-horizontal ">
				              <div class="controls" style="position: relative">
		    	<input type="text" class="form-control" th:field="*{fechanacimiento}" id="fechanac" />   
		    	</div></div>
		    	<br/>
		    	<br/>   		    	
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					ACEPTAR
				</button>				
				<br>		
				<br/> 
		</form>
		</div>
	</div>
<script type="text/javascript">
$(document).ready(function() {
  $(function() {
    $('#fechanac').datetimepicker({
      format: 'DD/MM/YYYY'
    }).on('change', function(){
        $('.datepicker').hide();
    });
  });
});
</script>
<footer th:replace="view/Cabecera :: footer"></footer>

</body>
</html>