<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">


<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<form action="#" th:action="@{/persona/addpersona}"
			th:object="${persona}" method="post">

			<br> Seleccione Persona : <br> <select
				th:field="*{idpersona}" class="custom-select col-sm-6 "
				id="inputGroupSelect03">
				<option th:each="per : ${person}" th:value="${per.idpersona}"
					th:text="${per.idpersona}+'. '+${per.primernombre}+' '+${per.primerapellido}">
				</option>
			</select> <br/> <br>

			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				ACEPTAR
			</button>
		</form>
		<br>
	</div>

	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>