<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<form action="#" th:action="@{/transportista/addtransportista}"
			th:object="${transportista}" method="post">
			<input type="hidden" th:field="*{idtransportista}" />
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<b>NUEVO TRANSPORTISTA</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12">
							<div th:if="${tipoproceso==0}">
								PERSONA: <select th:field="*{persona.idpersona}"
									class="form-control">
									<option th:each="per : ${persona}" th:value="${per.idpersona}"
										th:text="${per.idpersona}+'. '+${per.nombrecompleto}">
									</option>
								</select>								
							</div>
								<div th:if="${tipoproceso==1}">
									PERSONA: <input type="hidden" class="form-control"
										th:field="*{persona.idpersona}" /> <input disabled
										type="text" class="form-control"
										th:field="*{persona.idpersona}" />
								</div>
							</div>	
							<div class="col-lg-2 col-md-3 col-sm-5 col-xs-12">
								CATEGORIA LICENCIA: <select th:field="*{catlicencia}"
									class="form-control">
									<option th:each="lic : ${licencia}" th:value="${lic.valor1}"
										th:text="${lic.valor1}"></option>
								</select>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12">
								NRO LICENCIA : <input type="text" class="form-control"
									th:field="*{nrolicencia}" />
							</div>
							<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12">
								SITUACION : <select th:field="*{idsituaciontransportista}"
									class="form-control">
									<option th:each="sit : ${estado}" th:value="${sit.clave1}"
										th:text="${sit.clave1}+'. '+${sit.valor1}"></option>
								</select>
							</div>
						</div>
				</div>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				ACEPTAR
			</button>
		</form>
		<br>
	</div>
	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>