<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sistema de planificcion y control de Carga pesada</title>
        <th:block th:include="fragments/header"></th:block>
    </head>
    <body>
        <!--sidebar-->
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
            <div class="sidebar-brand d-none d-md-flex">
                <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                    <use xlink:href="assets/brand/coreui.svg#full"></use>
                </svg>
                <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                    <use xlink:href="assets/brand/coreui.svg#full"></use>
                </svg>
            </div>
            <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
                <div th:include="fragments/menu.html"></div>
            </ul>
            <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
        </div>
        <!--contenido-->
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
            <div th:include="fragments/cabecera.html"></div>
            <div class="body flex-grow-1 px-3">
		<form action="#" th:action="@{/vehiculo/addvehiculo}"
			th:object="${vehiculo}" method="post">
			<input type="hidden" th:field="*{idVehiculo}" />
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<b>FORMULARIO VEHICULO</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12">
							MARCA : <select 
								class="form-control">
								<option th:each="mar : ${marcas}" th:value="${mar.id}"
									th:text="${mar.id}+'. '+${mar.name}"></option>
							</select>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							MODELO : <select 
								class="form-control">
								<option th:each="mod : ${modelo}" th:value="${mod.id}"
									th:text="${mod.id}+'. '+${mod.name}"></option>
							</select>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12">
							NRO EJES : <input type="text" class="form-control" /> <br />
						</div>

						<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
							PLACA : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							COLOR : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							DETALLE : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							ULTIMA REVISION : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							ASEGURADORA : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							PESO MAXIMO : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							PESO MINIMO : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							TARJETA CIRCULACION : <input type="text" class="form-control" /> <br />
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							TRANSPORTISTA : <input type="text" class="form-control" /> <br />
						</div>
					</div>
				</div>
			</div>
		</form>
	 </div>
            <div th:include="fragments/footer.html"></div>
        </div>
    </body>
</html>
