<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                    <form method="post">

                        <div class="form-group row">
                            <h2 class="col-sm-2 col-form-label">Cliente :</h2>
                            <div class="col-sm-6">
                                <input name="cliente" class="form-control" disabled='disabled' />
                            </div>
                        </div>

                        <div class="form-group row">
                            <h2 class="col-sm-2 col-form-label">Descripcion :</h2>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" />
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <h2 class="col-sm-2 col-form-label">Observacion :</h2>
                            <div class="col-sm-6">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <h2 class="col-sm-2 col-form-label">Producto :</h2>
                            <div class="col-sm-6">
                                <input type="text" name="buscar_producto" id="buscar_producto"
                                       class="form-control" />
                            </div>
                        </div>

                        <th:block th:include="factura/plantilla-items.html"></th:block>
                        <table id="cargarItemProductos"
                               class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <h5>
                            Total <span class="badge badge-secondary" id="gran_total">0</span>
                        </h5>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-secondary" />
                            </div>
                        </div>
                    </form>
                    <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </body>

</html>