<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                    <h1>valorizaciones</h1>
                
            <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </body>

</html>