<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title></title>
</head>

<body>
	<div th:fragment="footer">
		<!-- Footer -->
		<footer class="page-footer font-small blue pt-4">

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">
				<p>Copyright ©. Horadada</p>
				<p>By Alexander Aponte Villena</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer
			<p>Copyright ©. Horadada</p>
			<p>By Alexander Aponte Villena</p> -->
	</div>
</body>
</html>