<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<link rel="shortcut icon" type="image/ico" href="/imgs/favicon.png" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/imgs/favicon.ico" />

<title>Sistema de planificcion y control de Carga pesada</title>
<!-- Google font 
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<!-- Owl Carousel -->
<link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css" />
<link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css" />

<!-- Magnific Popup -->
<link type="text/css" rel="stylesheet" href="/css/magnific-popup.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="/css/font-awesome.min.css">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/css/style.css" />

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/jquery.priceformat.min.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/componentes.js"></script>
</head>
<body>

</body>
</html>