<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title></title>
</head>
<body>
	<div th:fragment="menu">
		<div class="logo-top">

			<div class="container">
				<div class="logo-top-left">
					<img th:src="@{/imgs/favicon.png}" class="img-responsive" />
				</div>
				<div class="logo logo-top-lft">
					<a href="index.html"><i class="glyphicon glyphicon-road"
						aria-hidden="true"></i>Transportes Horadada<span>We Care
							About Your Cargo</span></a>
				</div>
				<div class="logo-top-right">
					<p style="color: #ffff">
						<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Numero
						de Contacto 012533874
					</p>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar-collapse"
						aria-expanded="false" aria-controls="navbar-collapse">
						<span class="sr-only">[Toggle navigation]</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/" th:href="@{/consulta}">Consultar<span></span></a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Documentacion<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" th:href="@{/solicitud}">Solicitud</a></li>
								<li><a href="#" th:href="@{/cotizacion}">Cotización</a></li>
								<li><a href="#" th:href="@{/ordencompra}">Orden De
										Compra</a></li>
								<li><a href="#" th:href="@{/despacho}">Despacho</a></li>
								<li><a href="#" th:href="@{/factura}">Factura</a></li>
								<li><a href="#" th:href="@{/documentacion/valorizacion}">Valorizacion</a></li>
							</ul></li>
						<li><a href="/" th:href="@{/monitoreo/}">Monitoreo<span></span></a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Mantenimiento<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" th:href="@{/cliente}">Cliente</a></li>
								<li><a href="#" th:href="@{/contacto}">Contacto</a></li>
								<li><a href="#" th:href="@{/trabajador}">Trabajador</a></li>
								<li><a href="#" th:href="@{/transportista}">Transportista</a></li>
								<li><a href="#" th:href="@{/persona}">Persona</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Utilitarios<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" th:href="@{/direccion}">direccion</a></li>
								<li><a href="#" th:href="@{/servicios}">Servicios</a></li>
								<li><a href="#" th:href="@{/tablamaestra}">Tablamaestra</a></li>
								<li><a href="#" th:href="@{/telefono}">Telefono</a></li>
							</ul></li>
						<li><a href="/" th:href="@{/reporte}">Reportes<span></span></a></li>
						<div class="logo-top-right">
							<li>Bienvenido: <a href="#" th:href="@{/login?logout}">Cerrar
									Sesion </a></li>
						</div>
					</ul>
				</div>
			</div>
		</nav>

	</div>
</body>
</html>