<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Transportes Horadada</title>
</head>
<body>
	<div th:fragment="menu">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarsExampleDefault"
					aria-controls="navbarsExampleDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><h2>
								<a class="nav-link" href="/principal">HORADADA <span
									class="sr-only">(current)</span>
								</a>
							</h2></li>


						<li class="nav-item active"><a class="nav-link"
							href="/consulta">Consultar</a></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentacion</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="/solicitud">Solicitud</a> <a
									class="dropdown-item" href="/cotizacion">Cotización</a> <a
									class="dropdown-item" href="/ordencompra">Orden De Compra</a> <a
									class="dropdown-item" href="/despacho">Despacho</a> <a
									class="dropdown-item" href="/factura">Factura</a> <a
									class="dropdown-item" href="/documentacion/valorizacion">Valorizacion</a>
							</div></li>
						<li class="nav-item active"><a class="nav-link"
							href="/monitoreo">Monitoreo</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mantenimiento</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="/cliente">Cliente</a> <a
									class="dropdown-item" href="/contacto">Contacto</a> <a
									class="dropdown-item" href="/trabajador">Trabajador</a> <a
									class="dropdown-item" href="/transportista">Transportista</a> <a
									class="dropdown-item" href="/persona">Persona</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilitarios</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="/direccion">Direccion</a> <a
									class="dropdown-item" href="/servicios">Servicios</a> <a
									class="dropdown-item" href="/tablamaestra">Tablamaestra</a> <a
									class="dropdown-item" href="/telefono">Telefono</a> <a
									class="dropdown-item" href="/vehiculo">Vehiculo</a>
							</div></li>
						<li class="nav-item active"><a class="nav-link"
							href="/reporte">Reportes</a></li>

					</ul>
					<form class="form-inline my-2 my-lg-0">
						<h4 class="pull-right rojo">Bienvenido:</h4>
						<a href="/login?logout">Cerrar Sesion </a>
					</form>
				</div>
			</nav>
	</div>
</body>
</html>