<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="#{IndexTitle}">Employees System</title>

<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="jumbotron">

		<div class="container">
			<br />
			<div class="col-md-4">
				<div class="container">
					<div class="row">
						<div class="well well-sm">
							<form class="form-horizontal">
								<fieldset class="center">
									<legend class="text-center header">DOCUMENTO</legend>
									<div>
										Tipo documento :   <select
											class="custom-select col-sm-6 form-control"
											id="inputGroupSelect03">
											<option th:each="tipdoc : ${documentos}"
												th:value="${tipdoc.clave1}"
												th:text="${tipdoc.clave1}+'. '+${tipdoc.valor1}"></option>
										</select><input class="button" type="submit"
											value="CONSULTAR"> <br /> <br />
									</div>
								</fieldset>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>