<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head ></head>

<body>
<div class="container">
<div class="col-md-4">
    <div class="container">
        <div class="row">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset class="center">
                        <legend class="text-center header">DOCUMENTO</legend>
                        <select class="selectpicker" >
                            <option value=""></option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="divider"></div>
            <div class="row">
                <div class="well well-sm">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend class="text-center header">DETALLES</legend>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input id="fname" name="name" type="text" placeholder="DIRECCION" class="nav-tabs form-control">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input id="fname" name="name" type="text" placeholder="HORA" class="nav-tabs form-control">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Mostrar</button>
        </div>
    </div>
</div>
</div>

</body>
</html>