<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                $('#btnConsulta').click(function () {
                    var espe = $("#tipDoc").val();
                    console.log(espe);
                    $.ajax({
                        url: "/solicitud/all",
                        /*data: {
                         espec: espe
                         },*/
                        type: "get",
                        success: function (data) {
                            console.log(data);
                        }
                    });
                });
            }
            );
        </script>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid text-center">
                    <div class="row">
                                <h1 class="text-center header">DOCUMENTO</h1>
                                <div class="align-content-sm-center">
                                    Tipo documento :   <select
                                        class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="tipDoc">
                                        <option th:each="tipdoc : ${documentos}"
                                                th:value="${tipdoc.clave1}"
                                                th:text="${tipdoc.clave1}+'. '+${tipdoc.valor1}"
                                                ></option>
                                    </select>
                                </div>
                                <input class="button btn btn-success" type="button" id="btnConsulta"
                                       value="CONSULTAR" />
                    </div>

                    <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </body>

</html>

