<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<ul class="nav navbar-nav">


    <li><a href="#/consulta"> Consultar</a></li>
    <li class="dropdown">
        <a href="" class="dropdown-togglex" data-toggle="dropdown" aria-expanded="true">Documentación<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/ingresaSolicitud">Solicitud</a></li>
            <li><a href="#/generaCotizacion">Cotización</a></li>
            <li><a href="#/generaOrdenCompra">Orden de Compra</a></li>
            <li><a href="#/generaDespacho">Despacho</a></li>
            <li><a href="#/generaFactura">Factura</a></li>
            <li><a href="#/generaValorizacion">Valorizacion</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-togglex" data-toggle="dropdown" aria-expanded="true">Crear<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/creaCotizacion">Cotización</a></li>
            <li><a href="#/crearDespacho">Despacho</a></li>
            <li><a href="#/facturaDespacho">Factura</a></li>
            <li><a href="#/creaValorizacion">Valorizacion</a></li>
        </ul>
    </li>
    <li><a href="#/monitoreo"> Monitoreo </a></li>
    <li class="dropdown">
        <a href="" class="dropdown-togglex" data-toggle="dropdown" aria-expanded="true">Mantenimiento<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/mantenimientoCliente">Cliente</a></li>
            <li><a href="#/mantenimientoContactos">Contacto</a></li>
            <li><a href="#/mantenimientoTrabajador">Trabajador</a></li>
            <li><a href="#/mantenimientoTransportista">Transportista</a></li>
        </ul>
    </li>
    <li><a href=""> Reporte </a></li>

</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="text-center">
        <a> Bienvenido: </a>
    </li>
    <li>
        <a> Cerrar Sesion </a>
    </li>
</ul>
</body>
</html>