<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modernize Free</title>
        <th:block th:include="fragments/header.html"></th:block>
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <div th:include="fragments/menu.html"></div>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <div th:include="fragments/cabecera.html"></div>
                <!--  Header End -->
                <div class="container-fluid">
                <h1>VENTANA DE MONITOREO</h1>
                <br />
                <div th:if="${resu==0}">
                    <h2>no cuenta con ubicaciones disponibles para mostrar, por favor realize un monitoreo de algun despacho</h2>
                    <h1>GRACIAS !!!</h1>
                </div>
                <div th:if="${resu==1}">
                    <div class="col-md-4">
                        <div class="well well-sm">
                            <form class="form-horizontal"
                                  method="post">
                                <fieldset>
                                    <legend class="text-center header">DATOS DE DESPACHO</legend>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-export"></i></span> <input id="fname" type="number"
                                                                                              placeholder="CODIGO TRANSPORTISTA"
                                                                                              class="nav-tabs form-control"/>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-file"></i></span> <input id="lname"

                                                                                            placeholder="NUMERO DE DESPACHO" class="nav-tabs form-control"/>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-lg">Mostrar</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="divider">
                                <div class="container">
                                    <div class="well well-sm">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <legend class="text-center header">DETALLES</legend>
                                                <input type="hidden" id="latitud"  />
                                                <input type="hidden" id="longitud"  />
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-home"></i></span> <input 
                                                                                                        id="fname" name="name" type="text" placeholder="DIRECCION"
                                                                                                        class="nav-tabs form-control" />
                                                </div>
                                                <br />
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-time"></i></span> <input 
                                                                                                        id="fname" name="name" type="text" placeholder="HORA"
                                                                                                        class="nav-tabs form-control"/>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="well well-sm">
                                        <form class="form-horizontal ">
                                            <div id="map"></div>
                                            <br/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           <div th:include="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </body>

</html>
